      
        .icons{
            position: absolute;
            padding-top: 27px;
            width: 17px;
            padding-left: 9px;
       }
       .box{
           width: 308px;
           height: 595px;
           margin: 80px auto;
           background-color: #0000001f;
           /* border-radius: 20px; */
           border-left: 4px solid #00ffd0;
           /* border: 2px solid #0df5e3; */
           -webkit-box-shadow: 4px 6px 31px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 6px 31px -9px rgba(0,0,0,0.75);
box-shadow: 4px 6px 31px -9px rgba(0,0,0,0.75);
}
.form-heading{
    position: relative; 
    top: 10px;
}
.form-login{
    color: white;
    font-family: 'Poppins',sans-serif;
    font-weight: 100;
    padding-left: 30px;
    font-size: 34px;
}    
h4{
  color: gray;  
  font-family: 'Poppins',sans-serif;
  font-size: 11px;
  padding-left: 30px;
  font-weight: 300;
}
.form-input{
    text-align: center;
}
::placeholder{
   font-family: 'Poppins',sans-serif;
   color: #0000001f;
   
}
.position{
    position: relative; 
    top: 180px;
}
input[type='text']:hover{
   background-color:#0000002b;
   border: 2px solid #00ffd0;
   transition: .3s;
}

input[type='password']:hover{
   background-color:#0000002b;
   border: 2px solid #00ffd0;
   transition: .3s;
   /* border: 2px solid #30264aba;  */
}

input::-webkit-input-placeholder {
   color: rgb(134, 134, 134);
}


input[type='text']{
    width: 240px;
    height: 49px;
    margin-top: 10px;
    padding-left: 30px;
    background-color: #0000002b;
    border-radius: 13px;
    border: 2px solid   #1b1b1b;
    color: white;
    outline: none;
    font-size: 12px;
    
} 


input[type='password']{
    width: 240px;
    height: 49px;
    margin-top: 10px;
    padding-left: 30px;
    background-color: #0000002b;
    border-radius: 13px;
    border: 2px solid  #1b1b1b;
    color: white;
    outline: none;
    font-size: 12px;
    
} 
#btn-form{
    width: 240px;
    height: 49px;
    margin-top: 10px;
    background-color: #1ad0ae;
    border-radius: 25px;
    border: 2px solid  #1ad0ae;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    position: relative;
    top: 23px;
    
} 
#btn-form:hover{
   background-color: #00ffd0;
}
.center{
    text-align: center;
}

.logo{
   position: relative; 
   bottom: 180px;
   text-align: center; 
   padding-right: 100px;
}
.svg-img{
   width: 223px;
   position: absolute;
   left: 48px;
   top: -18px;
   
}
span{
   color: #0df5e3;
}
.form-login-forgot-password{
    text-align: center;
    margin-top: 10px;
    position: relative; 
    top: 31px;
}

.form-login-sign-up{
   text-align: center;
    margin-top: 58px;
}
.link-sign-up{
    color: #ffffff;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    text-decoration: none;
    padding-left: 5px;
    font-size: 12px;
}
.link-forgot-password{
    color: #ffffff;
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
    font-size: 11px;
    text-decoration: none;

} 
body{
   background-image: url(../img/back.png);
   /* background-color: #3e5166; */
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
   background-blend-mode: overlay;
   background-color: #383838;
}
.sign-up-link{
    color: gray;
    font-family: 'Poppins',sans-serif;
    font-size: 10px;
}
#logo-heading:hover{
    transform: scale(1.1);
   
}

.special-head{
    position: relative; 
    top: 160px;
}