   .icons{
             position: absolute;
             padding-top: 27px;
             width: 17px;
             padding-left: 9px;
        }
        .box{
            width: 308px;
            height: 595px;
            margin: 80px auto;
            background-color: #201a30;
            border-radius: 20px;
            
            /* border: 2px solid #0df5e3; */
            -webkit-box-shadow: 4px 6px 31px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 6px 31px -9px rgba(0,0,0,0.75);
box-shadow: 4px 6px 31px -9px rgba(0,0,0,0.75);
}
.form-heading{
     position: relative; 
     top: 10px;
}
.form-login{
     color: #f5f5f5;
     font-family: 'Poppins',sans-serif;
     font-weight: 600;
     padding-left: 30px;
     font-size: 24px;
}    
h4{
   color: gray;  
   font-family: 'Poppins',sans-serif;
   font-size: 11px;
   padding-left: 30px;
   font-weight: 300;
}
.form-input{
     text-align: center;
}
::placeholder{
    font-family: 'Poppins',sans-serif;
    
}
.position{
     position: relative; 
     top: 180px;
}
input[type='text']:hover{
    background-color: #30264aba;
     /* border: 1px solid #30264aba;  */
}

input[type='password']:hover{
    background-color: #30264aba;
    /* border: 2px solid #30264aba;  */
}
#btn-02:hover{
    background-color: #42f1e3;
    /* border: 2px solid #30264aba;  */
}
input::-webkit-input-placeholder {
    color: white;
}


input[type='text']{
     width: 240px;
     height: 49px;
     margin-top: 10px;
     padding-left: 30px;
     background-color: #1c162b;
     border-radius: 13px;
     border: 2px solid #201a30;
     color: white;
     outline: none;
     font-size: 12px;
} 


input[type='password']{
     width: 240px;
     height: 49px;
     margin-top: 10px;
     padding-left: 30px;
     background-color: #1c162b;
     border-radius: 13px;
     border: 2px solid #201a30;
     color: white;
     outline: none;
     font-size: 12px;
     
} 
#btn-02{
     width: 180px;
     height: 49px;
     margin-top: 10px;
     background-color: #00ffeae0;
     border-radius: 25px;
     border: 2px solid #00ffeae0;
     font-family: 'Poppins',sans-serif;
     font-size: 15px;
     text-transform: uppercase;
     color: black;
     font-weight: 600;
     
} 
.logo-heading{
     position: relative; 
     bottom: -10px;
     font-family: 'Poppins',sans-serif;
     font-weight: 600;
     color: #f3f3f3;
     font-size: 22px;
     text-transform: uppercase;
}

.center{
     text-align: center;
}

.logo{
    position: relative; 
    bottom: 180px;
    text-align: center; 
    padding-right: 100px;
}
.svg-img{
    width: 223px;
    position: absolute;
    left: 48px;
    top: -18px;
    
}
span{
    color: #0df5e3;
}
.form-login-forgot-password{
     text-align: center;
     margin-top: 10px;
}

.form-login-sign-up{
    text-align: center;
     margin-top: 20px;
}
.link-sign-up{
     color: #0df5e3;
     font-family: 'Poppins',sans-serif;
     font-weight: 500;
     text-decoration: none;
     padding-left: 5px;
     font-size: 12px;
}
.link-forgot-password{
     color: #25c4d4;
     font-family: 'Poppins',sans-serif;
     font-weight: 300;
     font-size: 11px;
     text-decoration: none;

} 
body{
    background-color: #201a30;
    overflow: hidden;
}
.sign-up-link{
     color: gray;
     font-family: 'Poppins',sans-serif;
     font-size: 10px;
}
